.comments {
  margin: 50px 0;

  .comment-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 10px;

      border: 1px solid #eee;
      padding: 5px 15px;
    }
  }
}
