html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;

  &.loading {
    &:after {
      content: '';
      position: fixed;
      top: 20px;
      left: 20px;
      width: 30px;
      height: 30px;

      border-radius: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: solid 2px rgba(#2A76F1, 0.2);
      border-top-color: #2A76F1;

      -webkit-animation: spin 600ms infinite linear;
      animation: spin 600ms infinite linear;

    }
  }
}

.turbolinks-progress-bar {
  visibility: hidden;
}

a {
  text-decoration: none;
  color: #2A76F1;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 20px auto;
}


hr.spacer {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}


@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.6;
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
